#sort{
    width: 150px;
    display: inline-block;
}

#toolBarLeft{
    display: inline-block;
    width: 200px;
    border-style:ridge;
    border-color: lightslategrey;
    border-radius: 10px;
    margin-left: 50px;
    padding: 10px;
    margin-top: 60px;
    position: fixed;
}

#searchBar{
    width: 70%;
    display: inline-block;
    background-color: aqua;
}
#searchButton{
    width: 20%;
    display: inline-block;
    margin-left: 5px;
}

.typebutton{
    width: 80%;
    border-style: hidden;
    text-align: left;
}

#postContainer{
    display: inline-block;
    width: 700px; 
    vertical-align: top; 
    margin-left: 300px; 
    margin-top: 10px; 
    min-height: 700px;
}

.card{
    max-width: 700px;
    background-color: aqua;
}

.card-img{
    margin-top: 45px;
    margin-left: 10px;
}

.card-body{
    max-width: 350px;
}